<div class="row justify-content-md-center">
  <div class="mbr-white col-md-10">
    <h3
      class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2"
    >
      Who are we?
    </h3>
    <p class="mbr-text align-center pb-3 display-5">
      We are different. We were raised in various towns, in different families,
      we love different food. But we have a thing that is common. It is our
      corporation. We are its essence. We are a team, and also a family.
    </p>
    <div class="mbr-section-btn align-center">
      <a class="btn btn-md contact-btn display-4" routerLink="/contact">
        CONTACT US</a
      >
    </div>
  </div>
</div>
